.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.email {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.email:hover {
  color: var(--color-orange);
}

.nav-menu ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: var(--color-orange);
}

.resume-button {
  display: flex;
  align-items: center;
  background-color: var(--color-orange);
  color: var(--color-black);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  background-color: var(--color-white);
}

.header.scrolled {
  background-color: rgba(51, 51, 51, 0.9);
  backdrop-filter: blur(5px);
}

.resume-link {
  text-decoration: none; /* Elimina la línea azul (subrayado) */
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem; /* Ajusta el espacio entre el botón y las banderas */
}

.flag-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s;
}

.flag-icon:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .header {
    padding: 1rem;
  }

  .nav-menu {
    display: none;
  }

  .email {
    display: none;
  }
}
