.language-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flags {
  display: flex;
  gap: 0.5rem;
}

.flag-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s;
}

.flag-icon:hover {
  transform: scale(1.1);
}

.language-title {
  margin-top: 0.2rem; /* Ajusta el margen superior para acercar el texto a las banderas */
  font-size: 1rem;
  color: var(--color-white);
  text-align: center;
}
