:root {
  --color-orange: #ff8700;
  --color-dark-gray: #333333;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-gray: #dddddd;
  --color-medium-gray: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black);
  color: var(--color-light-gray);
  line-height: 1.5;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 80px;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

